@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply text-white p-2 rounded-lg font-light
  }
  .active {
    @apply  underline underline-offset-4
  }
  #root{
    @apply bg-zinc-100 grid grid-rows-[auto_1fr] min-h-screen
  }
}
.no-scroll {
  overflow: hidden;
}

.blur-bg {
  box-shadow: -40px 0 40px 40px rgba(255, 255, 255, .8);
  background-color: rgba(255, 255, 255, .8);
}